<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html; charset=big5">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7">
	<meta name="title" content="TEDxNCHU">
	<meta name="KeyWords" content="TED,TEDx,TEDxNCHU,中興大學">
	<meta name="description" content="TEDxNCHU">
	<meta name="Author" content="Fontech Web Team">
	<link rev="made" href="mailto:tough@fontech.com.tw">
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<meta property="og:title" content="TEDxNCHU">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.TEDxNCHU.tw">
	<meta property="og:image" content="http://www.TEDxNCHU.tw/assets/public/facebook_show.jpg">
	<meta property="og:site_name" content="TEDxNCHU">
	<meta property="og:description" content="TEDxNCHU">
	<link rel="shortcut icon" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="Bookmark" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="icon" href="http://www.fontech.com.tw/assets/public/favicon.png" type="image/png" />
	<link rel="image_src" type="image/jpeg" href="http://www.fontech.com.tw/assets/public/facebook_show.jpg" />
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>TEDxNCHU</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="main">
<header>
	<a href="<%= home_path %>" class="logo"><h1>TEDxNCHU</h1></a>
</header>
<nav>
	<ul class="navbar">
		<a href="<%= home_path %>"><li>2015年會「璞」</li></a>
		<a href="<%= about_path %>"><li>關於TEDx</li></a>
		<a href="<%= team_path %>"><li>策展團隊</li></a>
		<a href="<%= partner_path %>"><li>贊助廠商</li></a>
		<a href="<%= contact_path %>"><li>聯絡我們</li></a>
	</ul>
	<a href="https://www.facebook.com/tedxnchu?fref=ts" class="fb-share"></a>
</nav>
<%= yield %>
<footer>
	<div class="row">
		<p class="small-12 medium-8 large-8 columns">This independent TEDx event is operated under license from TED.</p>
		<div class="small-12 medium-4 large-4 columns">
			<div class="logo"><h1>TEDxNCHU</h1></div>
		</div>
	</div>
</footer>
<a href="#cd-nav" class="cd-nav-trigger">Menu 
	<span class="cd-nav-icon"></span>

	<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
		<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
	</svg>
</a>

<div id="cd-nav" class="cd-nav">
	<div class="cd-navigation-wrapper">
		<div class="cd-half-block">
			<h2>Navigation</h2>

			<nav>
				<ul class="cd-primary-nav">
					<li><a href="#0" class="selected">The team</a></li>
					<li><a href="#0">Our services</a></li>
					<li><a href="#0">Our projects</a></li>
					<li><a href="#0">Start a project</a></li>
					<li><a href="#0">Contact us</a></li>
				</ul>
			</nav>
		</div><!-- .cd-half-block -->
		
		<div class="cd-half-block">
			<address>
				<ul class="cd-contact-info">
					<li><a href="mailto:info@myemail.co">info@myemail.co</a></li>
					<li>0244-12345678</li>
					<li>
						<span>MyStreetName 24</span>
						<span>W1234X</span>
						<span>London, UK</span>
					</li>
				</ul>
			</address>
		</div> <!-- .cd-half-block -->
	</div> <!-- .cd-navigation-wrapper -->
</div> <!-- .cd-nav -->
</body>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("")[1] + '"]').addClass('active');
});
</script>
</html>
